<div class="hero is-link p-2">
  <div class="level is-mobile has-text-white">
    <div class="level-left">
      <div class="level-item">
        <%= link_to 'Back', groups_path, class: 'button is-small' %>
      </div>
    </div>
    <div class="level-center">
      <div class="level-item">
        <p><%= request.path.delete_prefix("/").capitalize %></p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <%= button_to(
              "Log Out",
              destroy_user_session_path,
              method: :delete,
              class: "button is-small"
            ) %>
      </div>
    </div>
  </div>
</div>
