// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

// Set your brand colors
$blue: #3778c2;
$green: #5fb523;
$grey: #434b54;
$grey-light: #878a8f;
$grey-lighter: #f5f6f8;

// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: 'Proxima Nova', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $blue;
$info: $green;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$box-radius: 2px;
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

@import 'bulma/bulma';

body {
  height: 100vh;
}

.notice,
.alert {
  height: 0;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.app-name {
  font-family: 'Bungee', cursive;
}

.splash {
  height: 100%;
}

.splash-buttons {
  margin-top: 3em;
}

.form-wrapper {
  height: 95%;

  form {
    input[type=email],
    input[type=password],
    input[type=text] {
      border: none !important;
      border-radius: 0;
      border-bottom: 2px solid $grey-light;
    }
  }
}

.category-list {
  height: 85%;
  overflow-y: auto;
}

.btn-container {
  height: 10%;
}

.category-icon {
  overflow: hidden;

  img {
    height: 96px;
    width: 96px;
    object-fit: cover;
  }
}

.bulma-block-mixin {
  @include block(1rem); /* stylelint-disable-line */
}
